<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 这个是 -->
	
	<!--  
	<bean
		id="userServiceId"
		scope="request"
		class="com.fang.day03.web.bean.scope.UserServiceImpl"></bean>
-->
<!--  
	<bean
		id="userServiceId1"
		scope="session"
		class="com.fang.day03.web.bean.scope.UserServiceImpl"></bean>
-->
	<!-- 上面的两个是为了测试scope进行的web方面的配置 -->







</beans>